

.jo--linepage{
  text-align: center;
  h2{
    background-color: #01838f;
    color: white;
    width: 20%;
    margin: auto;
    padding: 15px;
    border-radius: 10px;
    font-weight: 100;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 5px;
  }

  .jo--linepage-blocks{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 50%;
    margin: 50px auto;
  }
  .jo--block{
    border-radius: 15px;
    border: 2px solid #01838f;
    padding: 10px;
    width: 25%;
    p{
      color: gray;
      margin: 10px 0px;
      font-weight: 100;
    }
    span{
      font-weight: bold;
    }
  }
}


@media screen and (max-width: 600px) {
  h2{
    width: 75%!important;
    font-size: 15px;
  }
  .jo--linepage-blocks{
    width: 100%!important;
  }
  ngx-charts-line-chart{
    overflow: hidden;
  }
}
