
<div #ContainerRef class="jo--linepage">
  <h2>{{ countryName }}</h2>
  <a class="jo--backhome" routerLink=""> Back to Home page©</a>
  <div class="jo--linepage-blocks">
    <div class="jo--block">
      <p>Number of entries</p>
      <span>
        {{ entries }}
      </span>
    </div>
    <div class="jo--block">
      <p>Total number medals</p>
      <span>
        {{ medals }}
      </span>
    </div>
    <div class="jo--block">
      <p>Total number of athletes</p>
      <span>
        {{ athletes }}
      </span>
    </div>
  </div>
  <div>
  </div>
  <ng-template #chartContent>
      <ngx-charts-line-chart class="line-chart"
      [view]="[ContainerRef.offsetWidth, 400]"
      [scheme]="colorScheme"
      [results]="multi"
      [gradient]="gradient"
      [xAxis]="showXAxis"
      [yAxis]="showYAxis"
      [showXAxisLabel]="showXAxisLabel"
      [showYAxisLabel]="showYAxisLabel"
      [xAxisLabel]="xAxisLabel"
      [yAxisLabel]="yAxisLabel"
      >
    </ngx-charts-line-chart>
  </ng-template>
  <div *ngIf="error; else chartContent" class="error-container">
    <div class="error-message">
      <p>{{ error }}</p>
    </div>
  </div>
</div>
