

.jo--linepage{
  text-align: center;
  h2{
    background-color: #01838f;
    color: white;
    width: 20%;
    margin: 15px auto;
    padding: 15px;
    border-radius: 10px;
    font-weight: 100;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 5px;
  }
  .jo--backhome{
    color: #01838f;
    font-weight: bold;
  }
  .jo--linepage-blocks{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 50%;
    margin: 50px auto;
  }
  .jo--block{
    border-radius: 15px;
    border: 2px solid #01838f;
    padding: 10px;
    width: 25%;
    p{
      color: gray;
      margin: 10px 0px;
      font-weight: 100;
    }
    span{
      font-weight: bold;
    }
  }
  .error-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    border-radius: 4px;
    margin: 20px;
    padding: 20px;
  }

  .error-message {
    text-align: center;
  }

  .error-message h2 {
    margin: 0;
    font-size: 2em;
  }
  .chart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 20px;
  }
}


@media screen and (max-width: 600px) {
  h2{
    width: 75%!important;
    font-size: 15px;
  }
  .jo--linepage-blocks{
    width: 100%!important;
  }
  ngx-charts-line-chart{
    overflow: hidden;
  }
}
