.jo--homepage{
  text-align: center;
  padding: 15px 0;
  h2{
    background-color: #01838f;
    color: white;
    width: 20%;
    margin: auto;
    padding: 15px;
    border-radius: 10px;
    font-weight: 100;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 5px;
  }
  .jo--homepage-blocks{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    width: 30%;
    margin: 30px auto;
    .jo--block{
      border-radius: 15px;
      border: 2px solid #01838f;
      padding: 10px;
      width: 25%;
      p{
        color: gray;
        margin: 10px 0px;
        font-weight: 100;
      }
      span{
        font-weight: bold;
      }
    }
  }
  ngx-charts-pie-chart{
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 600px) {
  h2{
    width: 75%!important;
    font-size: 15px;
  }
  .jo--homepage-blocks{
    width: 100%!important;
  }
  ngx-charts-pie-chart{
    overflow: hidden;
  }
}




