<div #ContainerRef class="jo--homepage">
  <h2>Medals per Country</h2>
  <div class="jo--homepage-blocks">
    <div class="jo--block">
      <p>Number of JOs</p>
      <span>
        {{ cities }}
      </span>
    </div>
    <div class="jo--block">
      <p>Number of Countries</p>
      <span>
        {{ countries }}
      </span>
    </div>
  </div>
  <div>
  </div>

  <ngx-charts-pie-chart class="chart_content"
  [view]="[ContainerRef.offsetWidth, 400]"
  [results]="single"
  [labels]="true"
  [scheme]="colorScheme"
  (select)="onSelect($event)"
  >
  </ngx-charts-pie-chart>

</div>






